<h1><strong>Welcome</strong> <%= current_user.full_name %></h1>
<small class="text-secondary"><span class="text-danger">Your last login:</span> 
<%= current_user.last_sign_in_at.strftime('%I:%M%p %d %B %Y') %>
</small>