<section class="user-dashboard container mt-4">
      <h1><strong>Transfer</strong> Funds </h1>
    <%= render 'last_login' %>

<div class="mt-4">
   <h4>Make Transfer</h4>
   <p>Please contact our Foreign Operations Department, for your FTS code</p>
</div>

</section>